<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      {{ 'Profile' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" slot="fixed" >
  <div class="card" *ngIf="currentUser$ | async as currentUser">
    <div class="header">
      <div class="avatar">
        <img [src]="currentUser.imageUrl" alt="">
      </div>
    </div>
    <div class="card-body">
      <div class="user-meta ion-text-center">
        <h3 class="playername">{{ currentUser.firstName }} {{ currentUser.lastName }}</h3>
        <h5 class="email">{{ currentUser.email }}</h5>
        <h5 class="email">{{ currentUser.mobile }}</h5>
        <!-- <h6 class="ranking">Current ranking: <ion-chip>
            <ion-label>2</ion-label>
          </ion-chip>
        </h6> -->
      </div>

      <ion-button expand="full" color="primary" (click)="updateProfilePic()">Update Profile Pic</ion-button>
      <ion-button expand="full" color="secondary" (click)="editProfile()">Edit profile</ion-button>
      <ion-button expand="full" color="tertiary" (click)="goHome()">Back to Home</ion-button>

    </div>
  </div>
</ion-content>