<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      {{ 'Password reset' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" class="list-form">
    <ion-item class="animated fadeInUp">
      <ion-label position="stacked">Old Password<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="password" formControlName="oldPassword"></ion-input>
      <div class="error-messages" *ngIf="f.oldPassword.touched && f.oldPassword.errors">
        <ion-text color="danger">
          <small *ngIf="f.oldPassword.errors?.required">Old Password is required</small>
        </ion-text>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">New Password<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="password" formControlName="newPassword"></ion-input>
      <div class="error-messages" *ngIf="f.newPassword.touched && f.newPassword.errors">
        <ion-text color="danger">
          <small *ngIf="f.newPassword.errors?.required">New password is required</small>
        </ion-text>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Confirm Password <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="password" formControlName="confirmPassword" 
      (ionChange)="passwordMatch()"
      [debounce]="1000"></ion-input>
      <ion-text color="danger">
        <small *ngIf="!isPasswordMatch">Password does not match!</small>
      </ion-text>
      <div class="error-messages" *ngIf="f.confirmPassword.touched && f.confirmPassword.errors">
        <ion-text color="danger">
          <small *ngIf="f.confirmPassword.errors?.required">confirm password is required</small>
          <small *ngIf="f.confirmPassword.errors?.minlength">Minimum length of password is 6</small>
        </ion-text>
      </div>
    </ion-item>

    <div class="ion-padding">
      <ion-button icon-left size="default" expand="full" 
      shape="round" color="dark" type="submit"
      [disabled]="passwordForm.invalid">
        <ion-icon name="log-in"></ion-icon>
        &nbsp; Change password
      </ion-button>
    </div>
  </form>
</ion-content>
