<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Categories
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row >
      <ion-col *ngFor="let category of categories" size="12">
        <ion-card (click)="onSelectItem(category.id)">
          <ion-card-content class="ion-no-padding">
            <img [src]="category.imageUrl"  alt="" />
          </ion-card-content>
          <ion-item >
            <ion-label class="ion-text-center">{{ category.name }}</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
