.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  // max-width: 50%;
  padding: 0 4px;
  border: 1px solid #ccc;
  text-align: center;

  ion-img {
    margin: 8px 0;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 150px;
  }

  ion-label {
    font-size: 1rem;
    align-self: center;
    color: #000000;
    text-align: center;
  }
}

.no-border {
  border: none;
  text-align: center;
  margin: 0.5rem auto;
}

.item-image {
  margin: auto;
}

.item-list {
  
  h5, h4 {
    color: black;
  }
  p {
    font-size: 1rem;
    margin: 0 0 0.75rem 0;
    font-weight: bold;
  }
}

ion-card-header {
  padding: 8px;
}

