<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      {{ 'Items List' }}
    </ion-title>
  </ion-toolbar>
  <app-search></app-search>
</ion-header>

<ion-content>
  <!-- filter starts here -->
  <div class="filters">
    <ion-item>
      <ion-label position="floating" color="primary">Filter By:</ion-label>
      <ion-select [value]="['priceLow', 'priceHigh']" [(ngModel)]="filterValue" interface="action-sheet"
        (ionChange)="filter()"
      >
      <ion-select-option value="priceHigh">Price High</ion-select-option>
      <ion-select-option value="priceLow">Price Low</ion-select-option>
      <ion-select-option value="clearfilters">Clear Filters</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <!-- filter ends here -->
  <ion-virtual-scroll [items]="itemList" approxItemHeight="320px">
    <ion-list *virtualItem="let item; let itemBounds = bounds;">
    <ion-item class="ion-no-padding" color="light" (click)="onItemSelected(item)">
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="ion-margin-top">
              <ion-img [src]="item.imageUrl" height="160" alt=""></ion-img>
          </ion-col>
          <ion-col size="8" class="ion-padding-start">
            <h4>{{ item.name }}</h4>
            <p>{{ item.description }}
              <ion-button 
              class="ion-float-right" 
              [disabled]="item.amount < 1"
              (click)="addToCart($event, item)">
              Add &nbsp;
              <ion-icon name="basket"></ion-icon>
            </ion-button>
            </p>
            <strong>{{ item?.units || '500gm' }}</strong>
            <h5>{{ item.price | currency:'INR' }}</h5>
            <span *ngIf="item.amount < 1"><ion-text color="danger">Out of stock</ion-text></span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  </ion-virtual-scroll>


  <div *ngIf="!itemList">
    <ion-list *ngFor="let item of [1, 2, 3, 4, 5, 6]">
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
    <div class="spinner ion-text-center ion-margin-top">
      <ion-spinner name="crescent" color="primary"></ion-spinner>
    </div>
  </div>

  <ion-text *ngIf="itemListLength == 0" class="ion-text-center ion-padding">{{ 'Stock is empty' }}</ion-text>

</ion-content>

<ion-footer>
  <p> 
    hello world
  </p>
    <ion-tabs >
      <ion-tab-bar slot="bottom" color="primary">
        <ion-tab-button routerLink="/tabs/tab1">
            <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
    
        <ion-tab-button routerLink="/tabs/tab2">
          <ion-icon name="apps"></ion-icon>
          <ion-label>Categories</ion-label>
        </ion-tab-button>
    
        <ion-tab-button routerLink="/tabs/tab3">
            <ion-icon name="basket"></ion-icon>
          <ion-label>Basket</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    
    </ion-tabs>
</ion-footer>
