:host {
    ion-content {
        --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
    }
    ion-label {
        --color: #f4f4f4;
    }
}


a, p {
    text-decoration: none;
    color: #f4f4f4;
}
