:host {
    ion-content {
        --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
    }
    ion-label {
        --color: #f4f4f4;
    }

    ion-item {
        border-bottom: 2px solid var(--ion-color-medium);
    }
}


a, p {
    text-decoration: none;
    color: #f4f4f4;
}

.signup-loader {
    text-align: center;
    margin: 1.25rem 0;
}