<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      {{ 'Item Details' }}
    </ion-title>
  </ion-toolbar>
  <!-- <app-search></app-search> -->
</ion-header>

<ion-content>
  <section class="item-details ion-padding">
    <h1>{{ currentItem.name }} - {{ currentItem.description }}, {{ currentItem?.units || '1kg' }}</h1>
    <h3>{{ currentItem.price | currency:'INR' }}</h3>
    <ion-img [src]="currentItem.imageUrl"></ion-img>
    <ion-text color="medium">
      <h2>About Product</h2>
    </ion-text>
    <ion-text>
      <h4>
        {{ currentItem?.about || 'Nothing to display'  }}
      </h4>
    </ion-text>
  </section>
  <ion-button size="default" expand="full" shape="round"
  (click)="addToCart($event)">
    Add to Basket &nbsp;
    <ion-icon name="basket"></ion-icon>
  </ion-button>

  <ion-item-divider>
    <section class="ion-padding">
      <ion-text color="medium">
        <h3>User Feedback:</h3>
      </ion-text>

      <ion-textarea
      class="feedback-area" 
      color="primary"
      [(ngModel)]="feedback"
      placeholder="enter feedback"></ion-textarea>

      <ion-button 
      color="primary" 
      (click)="onSubmit()">Submit</ion-button>
    </section>
    

  </ion-item-divider>
  


</ion-content>

<ion-footer>
  <p>hello world</p>
  <ion-tabs >
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button routerLink="/tabs/tab1">
          <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/tabs/tab2">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Categories</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/tabs/tab3">
          <ion-icon name="basket"></ion-icon>
        <ion-label>Basket</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
</ion-footer>
