<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="/assets/images/about-us/about-us.jpg">
  </ion-img>
  <div class="mission">
    <h3>- Our Mission -</h3>
    <p>To provide quality and affordable Products</p>
  </div>
  <div class="about ion-padding-horizontal">
    <h3>About</h3>
    <p>
      Welcome to K.s.r.p departmental store your number one source for all things[product]. 
      we're dedicated t giving the very best of products with a focous on store characteristics. 
     </p>
 
     <p>
       founded in 2016 by IIIrd batallian of karanataka state by reserve police.
       K.s.r.p departmental store has came a long way from the beginings in K.s.r.p. quatres.
       K.s.r.p. departmental store can offer you the most finiest products.
     
     </p>
     we hope you enjoy products as much as we enjoy offering them to you. 
     if you have  any quqries or comments please dont hesitate to contact us...
                        THANK YOU ....
 
     <p>
       <b>contact us</b>
       <li>
       mail:ksrpdepartmental@gmail.com
       </li>
       <li>
       Goutham:7338300812
       </li>
         <li>
       Chethan:7975681178
     </li>
    </p>
  </div>
</ion-content>