

.mission {
    margin-top: 2.5rem;
    text-align: center;

}

.about {
    margin-top: 2rem;
    text-align: center;

    h3 {
        color: #86888f;
    }

    p {
        color: #a2a4ab;
    }
}