<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="/assets/images/about-us/about-us.jpg">
  </ion-img>
  <div class="mission">
    <h3>- Our Mission -</h3>
    <p>To provide quality and affordable Products</p>
  </div>
  <div class="about ion-padding-horizontal">
    <h3>About</h3>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia molestias omnis eaque expedita corrupti maxime
      laborum voluptatum libero impedit inventore.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia molestias omnis eaque expedita corrupti maxime
      laborum voluptatum libero impedit inventore? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia molestias omnis eaque expedita corrupti maxime
      laborum voluptatum libero impedit inventore.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia molestias omnis eaque expedita corrupti maxime
      laborum voluptatum libero impedit inventore.
    </p>
  </div>
</ion-content>