.orders {
    .order-img {
        margin: auto;
    }
    h4 {
        margin: 0;
        margin-top: 0.5rem;
        color: #000000;
        font-weight: bold;
    }
    .price {
        color: #000000;
    }
}