<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      {{ 'Ordres' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let order of Orders$ | async">
      <ion-card>
        <ion-grid>
          <ion-item-divider>
            <ion-row class="orders">
              <ion-col size="4" class="order-img">
                <ion-img [src]="order.imageUrl" height="160" alt=""></ion-img> 
              </ion-col>
              <ion-col size="8" class="ion-padding-start">
                <ion-card-subtitle>Order No: {{ order.orderNo }}</ion-card-subtitle>
                <h4>{{ order.name }}</h4>
                <p>Quantity: {{ order.amount }}</p>
                <!-- <small>500gm</small> -->
                <h5>Total Cost: <span class="price">{{ order.price * order.amount | currency:'INR' }}</span></h5>
                <p>Ordered on {{ order.orderNo | date }}</p>
              </ion-col>
            </ion-row>
          </ion-item-divider>
          <h3>
            Order Status: 
            <ion-text color="success" *ngIf="order.status == 'delivered'">{{ order.status }}</ion-text>
            <ion-text color="danger" *ngIf="order.status == 'cancelled'">{{ order.status }}</ion-text>
            <ion-text color="warning" *ngIf="order.status == 'pending'">{{ order.status }}</ion-text>
            <ion-text color="secondary" *ngIf="order.status == 'dispatched'">{{ order.status }}</ion-text>
          </h3>
        </ion-grid>
    </ion-card>
  </ion-list>

  
</ion-content>
